<div class="bs-docs-section">

    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
                <div class="jumbotron">
                    <h2 class="display-4">Welcome to ds api console</h2>
                    <p>This is a simple web api console.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Apis</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="bs-component">
                <div class="card">
                    <h3 class="card-header">Morph Api</h3>
                    <div class="card-body">
                        <h5 class="card-title">入力テキストを形態素解析するAPI</h5>
                        <p class="card-text">NEologd辞書で構築された形態素解析器の性能を確認するためのコンソールです。</p>
                        <p><a class="btn btn-primary btn-lg" routerLink="/morph">Try it</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="bs-component">
                <div class="card">
                    <h3 class="card-header">Solr Api</h3>
                    <div class="card-body">
                        <h5 class="card-title">DsSolrからデータを取得するAPI</h5>
                        <p class="card-text">Solrから様々なデータを取得するためのコンソールです。</p>
                        <p><a class="btn btn-primary btn-lg" href="#">Coming soon</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
